<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/insert_product.css">
     <!-- Font Awesome CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
     <!-- Bootstrap Icons -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="popup" id="popup-1">
        <div class="overlay">
            <div class="content">
                <span class="alert_icon"><i class="fa-solid fa-triangle-exclamation"></i></span>
                <p>คุณต้องการยกเลิกการบันทึกข้อมูลสินค้า ใช่หรือไม่?</p>
                <div class="alert-buttons">
                    <button id="cancel-btn" class="alert-btn cancel-btn" onclick="togglePopup()">ยกเลิก</button>
                     <a href="/stock"><button id="confirm-btn" class="alert-btn confirm-btn">ตกลง</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- navebar -->
    <%- include('navbar', { notificate_items: notificate_items }) %>
   
    
    <!-- form -->
    <div class="dashbord">
        <div class="row" id="dash_top">
            <div class="col-12" id="trend">
                <div class="container">
                    <div class="row mt-4">
                        <div class="col">
                            <h1>เพิ่มสินค้า</h1>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <form class="box-form" id="product-form" action="/addProduct" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label class="form-label">ชื่อสินค้า</label>
                                    <input type="text" class="form-control" name="NameProduct" required>
                                    <span style="display: none;" id="error"></span>
                                </div>
                                <div class="row g-2 mt-5 mb-3">
                                    <div class="col-4">
                                        <label class="form-label">ราคาสินค้า</label>
                                        <input type="text" class="form-control" name="PricePrduct" required>
                                        <span style="display: none;" id="error"></span>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label">จำนวนสินค้า</label>
                                        <input type="number" class="form-control" name="remaining" id="remaining" min="0" value="0" oninput="validity.valid||(value='');">
                                        <span style="display: none;" id="error"></span>
                                    </div>                                    
                                    <div class="col-4">
                                        <label class="form-label">บาร์โค้ด</label>
                                        <div class="box_bar d-flex">
                                            <input type="text" class="form-control" name="Barcode" id="Barcode">
                                            <button type="button" id="generateBarcode" class="btn btn-success mb-3">Generate</button>
                                        </div>
                                        <span style="display: none;" id="error"></span>
                                    </div>
                                </div>
                                <div class="row g-2 mt-5 mb-3">
                                    <div class="col-4">
                                        <label class="form-label">วันหมดอายุ(วัน)</label>
                                        <input type="number" class="form-control" name="Day_expire" id="Day_expire" oninput="validity.valid||(value='');">
                                        <span style="display: none;" id="error"></span>
                                    </div>
                                </div>
                                <div class="mt-5 mb-3">
                                    <label class="form-label">หมวดหมู่สินค้า</label>
                                    <div class="dropdown">
                                        <div class="select">
                                            <span class="selected"></span>
                                            <div class="caret"></div>
                                        </div>
                                        <ul class="menu_dropdown scrollbar_dropdown" id="scrollbar1_dropdown">
                                            <li>มะพร้าว</li>
                                            <li>น้ำตาล</li>
                                            <li>ข้าวโพด</li>
                                            <li>กล้วย</li>
                                            <li>ถั่ว</li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="categoryName" id="categoryName" value="มะพร้าว">

                                    <span style="display: none;" id="error"></span>
                                </div>
                                <div class="mt-5 mb-3">
                                    <label class="form-label">รูปสินค้า</label>
                                    <div class="upload">
                                        <button type="button" class="btn btn_file">
                                            <img id="default-image" src="/img/iconImg.png" alt="">
                                            <input type="file" id="file-input" name="productImage">
                                        </button>
                                        <!-- Image preview -->
                                        <img id="image-preview" src="" alt="Image Preview" style="display: none;">
                                    </div>
                                    <span style="display: none;" id="error"></span>

                                </div>
                                <div class="mt-5 mb-3">
                                  <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <a class="btn" id="btn_close" onclick="togglePopup()">ยกเลิก</a>
                                        <a class="btn" id="btn_update">เพิ่มสินค้า</a>
                                    </div>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- JavaScript includes for jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Chart.js via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/insert_Product.js"></script>
</body>
</html>